.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f5fafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: #d6d6d6 #f5fafa; 
  z-index: 1000;

}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f5fafa;
}

.sidebar-logo img {
  width: 120px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu-top {
  flex-grow: 1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  color: #7a7a7a;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-item a {
  text-decoration: none; 
  display: flex; 
  align-items: center; 
  color: inherit; 
  width: 100%; 
}

.sidebar-item.active {
  background-color: #e0f7f8;
  color: #00a8a8;
}

.sidebar-item:hover {
  background-color: #e0f7f8;
  color: #00a8a8;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar-menu-bottom {
  margin-bottom: 10px;
}



.sidebar-profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info span {
  display: block;
}

.profile-role {
  font-size: 0.8rem;
  color: #a9a9a9;
}
