.add-patient-page {
  display: flex; 
  min-height: 100vh;
  background-color: #f5fafa;
}

.add-patient-content {
  flex-grow: 1; 
  margin-left: 280px; 
  padding: 20px; 
  box-sizing: border-box;
}

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #007b7b;
    margin-bottom: 20px;
  }
  
  .patient-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff; 
  border: 2px solid #007b7b; 
  border-radius: 10px; 
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 20px; 
}

  .form-row {
    display: flex;
    gap: 50px;
  }
  
  .form-row > div {
    flex: 1;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #007b7b; 
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    transition: all 0.3s ease-in-out; 
  }
  
  input:focus,
  select:focus {
    border-color: #007b7b;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.2); 
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
  }
  

  
  .add-button {
    background-color: #daf0f0;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-button:hover {
    background-color: #005e5e;
  }

  @media (max-width: 768px) {
    .sidebar {
        width: 150px; /* تصغير السايد بار للشاشات الصغيرة */
    }

    .content {
        padding: 15px; /* تقليل الحواف الداخلية */
    }
}