.appointments-page1 {
  display: flex; 
  min-height: 100vh;
  background-color: #f5fafa;
}

.appointments-content {
  flex-grow: 1; 
  margin-left: 280px; 
  padding: 20px; 
  box-sizing: border-box;
}


