.appointments-page {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* .filters {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar,
.date-picker {
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
} */


/* .apply-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #0056b3;
} */