.doctor-visits-page {
  display: flex;
  font-family: Arial, sans-serif;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 19%;
  background-color: #ffffff;
}

.visits-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007b7b;
}

.visits-header-section {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  margin-bottom: 20px;
}

.visits-total-box {
  border: 2px solid #007b7b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 20px;
  width: 200px;
  height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
}

.visits-total-box h3 {
  font-size: 14px;
  margin: 0;
  color: #7e7e7e; 
}

.visits-total-box p {
  font-size: 36px; 
  font-weight: bold;
  margin: 0;
  color: #4a4a4a; 
}

.total-icon {
  font-size: 50px;
  color: #a3c684; 
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.visits-total-box .percentage {
  font-size: 12px;
  color: #28a745; 
  display: flex;
  align-items: center;
  gap: 5px;
}

.percentage span:first-child {
  font-size: 14px; 
}


.visits-search-section {
  margin-bottom: 20px;
}

.filters-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.visits-search {
  width: 500px; 
  padding: 10px;
  border: 2px solid #007b7b;
  border-radius: 8px;
  font-size: 14px;
}


.filters-subsection {
  display: flex;
  gap: 10px; 
}

.visits-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.visits-month-filter,
.visits-year-filter {
  width: 140px; 
  padding: 5px;
  font-size: 14px;
  border: 2px solid #007b7b;
  border-radius: 5px;
}





