
.patients-page {
  display: flex;
}

.patients-content {
  width: 80%;
  flex-grow: 1;
  padding: 20px;
  margin-left: calc(19% + 10px); 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  width: 700px;
  border: 2px solid #007b7b;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.search-container input:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 123, 123, 0.5);
}

.search-container button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007b7b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.search-container button:hover {
  background-color: #005e5e;
}

.add-patient-button {
  background-color: #007b7b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-patient-button:hover {
  background-color: #005e5e;
}

@media (max-width: 768px) {
  .search-container {
      flex-direction: column;
      align-items: stretch;
  }

  .search-container input {
      width: 100%;
      margin-bottom: 10px;
  }

  .search-container button {
      width: 100%;
  }
} 
